<!DOCTYPE html>
<html>
<head>
    <title>Add Employee Information</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: black">Employee Database</h1>

        <body bgcolor="lightgrey">
            <div class="container">
                <form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">

                    <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

                    <label for="employeeid">Employee ID:</label><br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

                    <label for="firstname">
                        First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name"><br><br>

                        <label for="lastname">Last Name:</label><br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

                        <label for="primaryskills">Primary Skills:</label><br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

                        <label for="location">Location:</label><br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

                        <label for="image">Image: </label><input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

                        <button type="submit" value="Submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

                </form>
                <a href="/about">About Us</a>
            </div>
        </body>

    </font>
</center>
</html>